{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}V-School - Login{% endblock %}

{% block page_content %}
<h2>V-School Info</h2>

<p>V-School's mission is to promote student achievement and preparation for global competitiveness by fostering educational excellence and ensuring equal access.
V-School was created in 1980 by combining offices from several federal agencies. V-School's 4,400 employees and $68 billion budget are dedicated to:
</p>

<ul>
<li> Establishing policies on federal financial aid for education, and distributing as well as monitoring those funds.</li>
<li> Collecting data on America's schools and disseminating research.</li>
<li> Focusing national attention on key educational issues.</li>
<li> Prohibiting discrimination and ensuring equal access to education.</li>

</ul>

<div class="row">
<div class="col-sm-3"><h3><b><u>Developer Contacts:</u></b></h3>
<ul>
    <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=youssef.ramzy993@gmail.com&su=V-School-" target="_blank">Email</a></li>
    <li><a href="https://www.linkedin.com/in/youssef-ramzy/" target="_blank">Linked-in</a></li>
    <li><a href="https://github.com/Ramzy993" target="_blank">Git</a></li>
    <li><a href="https://www.facebook.com/engyosef.ramzy" target="_blank">Facebook</a></li>
    <li><a href="https://www.youtube.com/channel/UCrvIKHB69tL_WZ1tB7aoP2A?view_as=subscriber" target="_blank">Youtube</a></li>
</ul>
</div>

{% endblock %}