{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}V-School - Posts{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header">
    <h2>News Feed</h2>
</div>
<div>
    {{ wtf.quick_form(form) }}
<br>
</div>
</div>

<div class="container" >
{% for post in posts %}
<ul class="posts" >
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.profile', user_name=post.return_user_name())}}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ url_for('static', filename='profile_pics/' +'s-'+ post.author.user_contacts.profile_image) }}">
            </a>
        </div>
        <div class="post-content" >
            <div class="post-date">{{ post.timestamp.strftime('%Y-%m-%d') }}</div>
            <div class="post-author"><a href="{{ url_for('main.profile', user_name=post.return_user_name())}}">
                                        {{ post.return_user_name()}}</a></div>
            <div class="post-body">
                <p>{{post.body}}</p>
            </div>
        </div>
        <a class="align-right" href="{{ url_for('main.post', id=post.id) }}">Comments</a>
    </li>
</ul>
{% endfor %}
</div>

{% from '_macros.html' import pagination_widget with context %}
{% if pagination %}
<div class="pagination">
    {{ pagination_widget(pagination, 'main.new_feeds') }}
</div>
{% endif %}

{% endblock %}