{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}V-School - Post{% endblock %}
{% block page_content %}


<div class="container">
<div class="page-header">
   <h2>{{ post.title }}</h2>
</div>
</div>


<ul class="posts">
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.profile', user_name=post.return_user_name())}}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ url_for('static', filename='profile_pics/' +'s-'+ post.author.user_contacts.profile_image) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ post.timestamp.strftime('%Y-%m-%d') }}</div>
            <div class="post-author"><a href="{{ url_for('main.profile', user_name=post.return_user_name())}}">
                                        {{ post.return_user_name()}}</a></div>
            <div class="post-body">
                <p>{{post.body}}</p>
            </div>
        </div>
    </li>
</ul>
<br>
<div class="col-md-14">
    {{ wtf.quick_form(form) }}
<br>
</div>
<br>
<h4 id="comments">Comments</h4>

<ul class="comments">
{% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('main.profile', user_name=comment.return_user_name())}}">
                <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='profile_pics/'
                +'s-'+ comment.author.user_contacts.profile_image) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ comment.timestamp.strftime('%Y-%m-%d') }}</div>
            <div class="comment-author"><a href="{{ url_for('main.profile',
            user_name=comment.return_user_name())}}">{{ comment.return_user_name()}}</a></div>
            <div class="comment-body">
                <p>{{comment.body}}</p>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% from '_macros.html' import pagination_widget with context %}
{% if pagination %}
<div class="pagination">
    {{ pagination_widget(pagination, 'main.new_feeds') }}
</div>
{% endif %}

{% endblock %}
